@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tw-animate-css";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  height: 100%;
}

body {
  background: #f2f2f2;
  font-family: "Poppins", sans-serif;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1;
}

.btn {
  background: transparent;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: inherit;
}

.active {
  color: orangered;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: #333;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: 12px;
  background-color: #e89300;
  border: 2px solid black;
}

header nav {
  display: flex;
  gap: 20px;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
}

.loader,
.error {
  opacity: 0.5;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.loaderr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px auto;
  margin-bottom: 50px;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #ffa516 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #ffa516);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

.lang-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.lang-btns a {
  font-size: 16px;
  color: black;
  border: 1px solid black;
  padding: 0 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
}

.lang-btns a:hover {
  color: white;
  background-color: #000;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 190px);
  gap: 10px;
  margin-bottom: 30px;
}

.card {
  background-color: #e89300;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  width: 270px;
  height: 190px;
  position: relative;
}

.card__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  color: #fcfcfc;
}

.card_des {
  font-size: 12px;
  width: 200px;
  border: 1px solid black;
  padding: 3px 4px;
  border-radius: 10px;
}

.card_category {
  font-size: 16px;
}

.card__price {
  color: #ffff;
  position: absolute;
  bottom: 5px;
  left: 10px;
  letter-spacing: 1px;
}

.card__btn {
  background-color: #e89300;
  display: flex;
  border: 1px solid #ffffff;
  gap: 3px;
  align-items: center;
  transition: all 0.3s;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.card__btn .icon {
  color: #000000;
  transition: all 0.3s;
}

.card__btn:hover .icon {
  color: #ffffff;
}

.card__btn:hover {
  background-color: #e89300;
  border: 1.5px solid white;
  color: #ffffff;
}

.card-action-btns {
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.card__btn__amount {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffff;
  padding: 5px;
  height: 20px;
  width: 20px;
}

.card__btn__amount:hover {
  background-color: #ffff;
  color: #e89300;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.amount {
  width: 20px;
  text-align: center;
}

.header__card {
  position: relative;
  padding: 10px;
}

.header__card:hover .hidden-card {
  visibility: visible;
  opacity: 1;
}

.header__card__indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 15px;
  right: -5px;
  bottom: 25px;
  background-color: #e89300;
  color: #000000;
  border: 1px solid black;
  width: 10px;
  height: 10px;
  padding: 10px;
  border-radius: 5px;
}

.hidden-card {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 300px;
  background-color: #000000;
  color: white;
  right: 5%;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hidden-card__item-info {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.header__card:hover .hidden-card {
  visibility: visible;
  opacity: 1;
}

.hidden-card__item {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #e89300;
  border-radius: 5px;
}

.hidden-card__title {
  font-size: 16px;
  margin-bottom: 3px;
}
.hidden-card__price {
  font-size: 12px;
  margin-bottom: 3px;
}

.hidden-card__remove-btn {
  font-size: 16px;
}

.hidden-card__clear-btn {
  background-color: #e89300;
  cursor: pointer;
  border: 1px solid #ffff;
  padding: 5px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: all 0.3s ease-out;
  border-radius: 5px;
  margin-top: 10px;
}

.hidden-card__clear-btn:hover {
  background-color: black;
  color: #ffffff;
}

.hidden-card__amount {
  font-size: 10px;
}

.hidden__card__info {
  text-align: center;
  width: 100%;
  font-size: 15px;
}

.pag-content {
  margin-bottom: 20px;
}

.pag-btn {
  background-color: #e89300;
  padding: 3px;
  cursor: pointer;
  border: 2px solid #ffffff;
  transition: all 0.2s ease-out;
}

.pag-btn:hover {
  background-color: #ffffff;
  border: 2px solid #e89300;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #e89300;
}

footer p {
  text-align: center;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
